<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stock.mapper.StockDeliveryRecordMapper">

    <resultMap type="StockDeliveryRecord" id="StockDeliveryRecordResult">
        <result property="deliveryId"       column="delivery_id"        />
        <result property="deliveryNo"       column="delivery_no"        />
        <result property="orderNo"          column="order_no"           />
        <result property="customerCode"     column="customer_code"      />
        <result property="customerName"     column="customer_name"      />
        <result property="deliveryDate"     column="delivery_date"      />
        <result property="logisticsNo"      column="logistics_no"       />
        <result property="logisticsCompany" column="logistics_company"  />
        <result property="deliveryAddress"  column="delivery_address"   />
        <result property="deliveryStatus"   column="delivery_status"    />
        <result property="outOrderNo"       column="out_order_no"       />
        <result property="totalQuantity"    column="total_quantity"     />
        <result property="delFlag"          column="del_flag"           />
        <result property="createBy"         column="create_by"          />
        <result property="createTime"       column="create_time"        />
        <result property="updateBy"         column="update_by"          />
        <result property="updateTime"       column="update_time"        />
        <result property="remark"           column="remark"             />
    </resultMap>

    <sql id="selectVo">
        select delivery_id, delivery_no, order_no, customer_code, customer_name, delivery_date,
               logistics_no, logistics_company, delivery_address, delivery_status, out_order_no,
               total_quantity, del_flag, create_by, create_time, update_by, update_time, remark
        from stock_delivery_record
    </sql>

    <select id="selectStockDeliveryRecordList" parameterType="StockDeliveryRecord" resultMap="StockDeliveryRecordResult">
        <include refid="selectVo"/>
        <where>
            del_flag = '0'
            <if test="deliveryNo != null and deliveryNo != ''"> and delivery_no = #{deliveryNo}</if>
            <if test="orderNo != null and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="customerName != null and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="deliveryStatus != null and deliveryStatus != ''"> and delivery_status = #{deliveryStatus}</if>
            <if test="outOrderNo != null and outOrderNo != ''"> and out_order_no = #{outOrderNo}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectStockDeliveryRecordByDeliveryId" parameterType="Long" resultMap="StockDeliveryRecordResult">
        <include refid="selectVo"/>
        where del_flag = '0' and delivery_id = #{deliveryId}
    </select>

    <select id="selectStockDeliveryRecordByDeliveryNo" resultMap="StockDeliveryRecordResult">
        <include refid="selectVo"/>
        where del_flag = '0' and delivery_no = #{deliveryNo}
    </select>

    <select id="selectByOrderNo" resultMap="StockDeliveryRecordResult">
        <include refid="selectVo"/>
        where del_flag = '0' and order_no = #{orderNo}
        order by create_time desc
    </select>

    <insert id="insertStockDeliveryRecord" parameterType="StockDeliveryRecord" useGeneratedKeys="true" keyProperty="deliveryId">
        insert into stock_delivery_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deliveryNo != null">delivery_no,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="customerCode != null">customer_code,</if>
            <if test="customerName != null">customer_name,</if>
            <if test="deliveryDate != null">delivery_date,</if>
            <if test="logisticsNo != null">logistics_no,</if>
            <if test="logisticsCompany != null">logistics_company,</if>
            <if test="deliveryAddress != null">delivery_address,</if>
            <if test="deliveryStatus != null">delivery_status,</if>
            <if test="outOrderNo != null">out_order_no,</if>
            <if test="totalQuantity != null">total_quantity,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deliveryNo != null">#{deliveryNo},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="customerCode != null">#{customerCode},</if>
            <if test="customerName != null">#{customerName},</if>
            <if test="deliveryDate != null">#{deliveryDate},</if>
            <if test="logisticsNo != null">#{logisticsNo},</if>
            <if test="logisticsCompany != null">#{logisticsCompany},</if>
            <if test="deliveryAddress != null">#{deliveryAddress},</if>
            <if test="deliveryStatus != null">#{deliveryStatus},</if>
            <if test="outOrderNo != null">#{outOrderNo},</if>
            <if test="totalQuantity != null">#{totalQuantity},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateStockDeliveryRecord" parameterType="StockDeliveryRecord">
        update stock_delivery_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="deliveryDate != null">delivery_date = #{deliveryDate},</if>
            <if test="logisticsNo != null">logistics_no = #{logisticsNo},</if>
            <if test="logisticsCompany != null">logistics_company = #{logisticsCompany},</if>
            <if test="deliveryAddress != null">delivery_address = #{deliveryAddress},</if>
            <if test="deliveryStatus != null">delivery_status = #{deliveryStatus},</if>
            <if test="outOrderNo != null">out_order_no = #{outOrderNo},</if>
            <if test="totalQuantity != null">total_quantity = #{totalQuantity},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where delivery_id = #{deliveryId}
    </update>

    <update id="deleteStockDeliveryRecordByDeliveryId" parameterType="Long">
        update stock_delivery_record set del_flag = '1' where delivery_id = #{deliveryId}
    </update>

    <update id="deleteStockDeliveryRecordByDeliveryIds" parameterType="String">
        update stock_delivery_record set del_flag = '1' where delivery_id in
        <foreach item="deliveryId" collection="array" open="(" separator="," close=")">
            #{deliveryId}
        </foreach>
    </update>
</mapper>

